#slider {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#slider .ui-rangeSlider-bar {
    background-color: #74A5C1;
    border-radius: 15px;
}

#slider .ui-rangeSlider-handle {
    width: 15px;
    background-color: #3C8DBC;
}

#slider .ui-rangeSlider-leftHandle {
    border-radius: 5px 0 0 5px;
}

#slider .ui-rangeSlider-rightHandle {
    border-radius: 0 5px 5px 0;
}

.alert-warn-vmtd{
	background-color: #00C0EF;
	border-color: #00C0EF;
	color: white;
	font-size: 18px;
}

.filter-header{
	text-align: center;
    color: #BDBDBD !important;
    font-weight: bold;
}

.filter-version-sub-item{
	color: rgb(138, 164, 175);
	padding: 5px 5px 5px 15px;
	font-weight: 500;
}

.info-box-smaller{
    height: 30px;
    width: 75px;
    line-height: 30px;
    min-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.btn-filter-analyze{
    margin: 20px 0px 0px !important;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    text-overflow: clip;
}

.modal-header-info {
    background-color: rgb(51, 122, 183);
    color: white;
}

.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}

.box-analyzer-item {
    max-width: 32% !important;
    margin: 5px !important;
    background-color: rgba(233, 234, 236, 0.54) !important;
    border-color: #0073B7 !important;
}

.btn-span-tool {
    padding: 0px;
    font-size: 10px;
    background: transparent;
    box-shadow: none!important;
    color: #ffffff;
}