.alert-warn-vmtd{
	background-color: #00C0EF;
	border-color: #00C0EF;
	color: white;
	font-size: 18px;
}

.filter-header{
	text-align: center;
    color: #BDBDBD !important;
    font-weight: bold;
}

.filter-version-sub-item{
	color: rgb(138, 164, 175);
	padding: 5px 5px 5px 15px;
	font-weight: 500;
}