<section class="content" ng-show="!filtered.tags[0]">
	<div class="alert alert-warn-vmtd alert-dismissable" >
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <i class="icon fa fa-hand-o-left"></i>Please, select at least one version in the left menu.
	</div>
</section>

<div ng-show="filtered.repository != null && filtered.tags[0] && currentPage == 'tdanalyzer'">
 
  <!-- Content Header (Page header) -->
  <section class="content-header" ng-controller="TDAnalyzerCtrl as ctrl">
    <h1>
      TD Analyzer
      <small>Identify which classes have Technical Debt</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="tdevolution" ng-click="ctrl.selectView('tdevolution')"><i class="fa fa-line-chart"></i> TD Evolution</a></li>
      <li class="active">TD Analyzer</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border">
      	<i class="fa fa-database" style="font-size: 15px"></i>
        <h2 class="box-title">{{filtered.repository.name}}</h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div><!-- /.box-header -->

      <div class="box-body">
      	<div class="form-group">
      		<div class="col-md-1">
      			<label>Version:</label>
      		</div>
          <div class="col-md-11">
          	<select class="form-control" style="border-radius: 5px;" ng-options="tag.name for tag in filtered.tags" ng-model="selectedTag" style="width: 100%;">
         		</select>
          </div>
        </div><!-- /.form-group -->
        <div>
        	<span>{{selectedTag.commits}}</span>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->


  </section><!-- /.content -->

</div>
