<section class="content" ng-show="!filtered.tags[0]">
	<div class="alert alert-warn-vmtd alert-dismissable" >
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <i class="icon fa fa-hand-o-left"></i>Please, select at least one version in the left menu.
	</div>
</section>

<div ng-show="filtered.repository != null && filtered.tags[0] && currentPage == 'tdanalyzer'">
 
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      TD Analyzer
      <small>Identify which classes have Technical Debt</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="tdevolution" ng-click="TDAnalyzerCtrl.selectView('tdevolution')"><i class="fa fa-line-chart"></i> TD Evolution</a></li>
      <li class="active">TD Analyzer</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border">
      	<i class="fa fa-database" style="font-size: 15px"></i>
        <h2 class="box-title">{{filtered.repository.name}}</h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div><!-- /.box-header -->

      <div class="box-body">
      	<div class="form-group">
      		<div class="col-md-1">
      			<label>Version:</label>
      		</div>
          <div class="col-md-5">
          	<select class="form-control" ng-options="tag.name for tag in filtered.tags" ng-model="selectedTag" style="width: 100%;">
         		</select>
          </div>
          <div class="col-md-3">
            <button class="btn bg-olive btn-flat btn-confirm-analyze-debt">
              Confirm All from Version
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn bg-olive btn-flat btn-confirm-analyze-debt">
              Confirm All From Repository
            </button>
          </div>
        </div><!-- /.form-group -->

        <div class="form-group" style="padding-top: 40px;">
          <div class="box-analyzer-item col-lg-3 col-md-3 box box-default" style="border-radius: 0px;" ng-repeat="type in types2">
            <div class="box-header with-border" style="border-bottom-color: rgba(38, 28, 92, 0.21);">
              <a href="#" class="box-title" style="font-weight: bold;">{{type.type.name}}</a>   
              <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div><!-- /.box-tools -->           
            </div><!-- /.box-header -->
            <div class="box-body">
              <span class="label bg-red span-analyze-debt" style="margin-right: 5px;">
                CODE 
                <button class="btn btn-span-tool" onclick="this.parentElement.style.display='none';"><i class="fa fa-times"></i></button>
                <button class="btn btn-span-tool" onclick="this.style.display='none'; this.previousElementSibling.style.display='none'"><i class="fa fa-plus"></i></button>
              </span>
              <span class="label bg-yellow span-analyze-debt">
                DESIGN
                <button class="btn btn-span-tool" onclick="this.parentElement.style.display='none';"><i class="fa fa-times"></i></button>
                <button class="btn btn-span-tool" onclick="this.style.display='none'; this.previousElementSibling.style.display='none'"><i class="fa fa-plus"></i></button>
              </span>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>

      </div><!-- /.box-body -->
    </div><!-- /.box -->


  </section><!-- /.content -->

</div>