<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Dashboard</span> 
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="active">
            <a href="tdevolution.html">
              <i class="fa fa-circle-o"></i> TD Evolution
            </a>
          </li>
          <li>
            <a href="commiters.html">
              <i class="fa fa-circle-o"></i> TD Commiters
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i> <span>Repositories</span>
          <small class="label pull-right bg-green">{{ctrl.repositories.length}}</small>
        </a>
        <ul class="treeview-menu">
          <li ng-repeat="repository in ctrl.repositories | orderBy:'name'">
            <a href="javascript:void(0)" ng-click="ctrl.treesLoad(repository.uid)">
              <i class="fa fa-caret-right"></i> {{repository.name}}
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-tags"></i> <span>Versions</span>
          <small class="label pull-right bg-green">{{ctrl.tags.length}}</small>
        </a>
        <ul class="treeview-menu">
          <li ng-repeat="tag in ctrl.tags | orderBy:'name'">
          <a href="javascript:void(0)">
              <i class="fa fa-caret-right"></i> {{tag.name}}
          </a>              
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Committers</span>
          <small class="label pull-right bg-green">{{ctrl.filtered.committers.length}}</small>
        </a>
        <ul class="treeview-menu">
          <li ng-repeat="committer in ctrl.filtered.committers | orderBy:'message'">
            <a href="javascript:void(0)">
              <i class="fa fa-caret-right"></i> {{committer.message}}
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-book"></i> <span>Documentation</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">
              <i class="fa fa-caret-right"></i> Code Smells <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul ng-repeat="codeSmell in codeSmellsAll | orderBy:'name'" class="treeview-menu">
              <li><a href="#"><i class="fa fa-caret-right"></i> {{codeSmell.name}}</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- <li class="header">TD Status</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Accepted</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Waiting</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-green"></i> <span>Resolved</span></a></li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
